.page.ng-enter {
  -webkit-animation:fadeIn 200ms both ease-in;
	-moz-animation:fadeIn 200ms both ease-in;
	animation:fadeIn 200ms both ease-in;
}

@keyframes fadeIn {
  from 	{ opacity: 0;}
  to 		{ opacity: 1;}
}

@keyframes showFirstCard {
    0%   { transform:scale(1);}
    40%  { transform:scale(1.08);}
    100% { transform:scale(1.04);}
}

@keyframes hideFirstCard {
    0%   { transform: scale(1.04);}
    100% { transform: scale(1);}
}

@keyframes showCard {
    0%   { transform:translateX(0);}
    25%  { transform:translateX(10px) scale(1);}
    50%  { transform:translateX(10px) scale(1);}
    100% { transform:translateX(0px) scale(1.04);}
}

@keyframes hideCard {
    0%   { transform: translateX(10px);}
    50%  { transform: translateX(10px);}
    100% { transform: translateX(0);}
}
