
@font-face {
    font-family: 'Insee';
    src: url('sys_attachment.do?sys_id=bfc717490f26e60078f85c3be1050ee7');
    src: url('sys_attachment.do?sys_id=bfc717490f26e60078f85c3be1050ee7?#iefix') format('embedded-opentype'),
         url('sys_attachment.do?sys_id=80d71f490f26e60078f85c3be1050e3d') format('woff2'),
         url('sys_attachment.do?sys_id=08d717490f26e60078f85c3be1050ef0') format('woff'),
         url('sys_attachment.do?sys_id=08d717490f26e60078f85c3be1050eed') format('truetype'),
         url('sys_attachment.do?sys_id=bbc717490f26e60078f85c3be1050eea#Insee') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Insee';
    src: url("sys_attachment.do?sys_id=bb1817490f26e60078f85c3be1050ecf");
    src: url("sys_attachment.do?sys_id=bb1817490f26e60078f85c3be1050ecf#iefix") format("embedded-opentype"), 
         url("sys_attachment.do?sys_id=08289f490f26e60078f85c3be1050e16") format("woff2"), 
         url("sys_attachment.do?sys_id=442817490f26e60078f85c3be1050ed8") format("woff"), 
         url("sys_attachment.do?sys_id=042817490f26e60078f85c3be1050ed5") format("truetype"), 
         url("sys_attachment.do?sys_id=f71817490f26e60078f85c3be1050ed2#Insee") format("svg");
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Insee Text';
    src: url("sys_attachment.do?sys_id=8f589f490f26e60078f85c3be1050e5f");
    src: url("sys_attachment.do?sys_id=8f589f490f26e60078f85c3be1050e5f#iefix") format("embedded-opentype"), 
         url("sys_attachment.do?sys_id=1b58df490f26e60078f85c3be1050eaf") format("woff2"), 
         url("sys_attachment.do?sys_id=13589f490f26e60078f85c3be1050e69") format("woff"), 
         url("sys_attachment.do?sys_id=1f589f490f26e60078f85c3be1050e65") format("truetype"), 
         url("sys_attachment.do?sys_id=0f589f490f26e60078f85c3be1050e62#Insee Text") format("svg");
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Insee Text';
    src: url("sys_attachment.do?sys_id=df88df490f26e60078f85c3be1050eb3");
    src: url("sys_attachment.do?sys_id=df88df490f26e60078f85c3be1050eb3#iefix") format("embedded-opentype"), 
         url("sys_attachment.do?sys_id=849813890f26e60078f85c3be1050edf") format("woff2"), 
         url("sys_attachment.do?sys_id=cc9813890f26e60078f85c3be1050edb") format("woff"), 
         url("sys_attachment.do?sys_id=7788df490f26e60078f85c3be1050eba") format("truetype"), 
         url("sys_attachment.do?sys_id=2388df490f26e60078f85c3be1050eb7#Insee Text") format("svg");
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Insee Text';
    src: url("sys_attachment.do?sys_id=68b813890f26e60078f85c3be1050e3a");
    src: url("sys_attachment.do?sys_id=68b813890f26e60078f85c3be1050e3a#iefix") format("embedded-opentype"), 
         url("sys_attachment.do?sys_id=89b853890f26e60078f85c3be1050ec8") format("woff2"), 
         url("sys_attachment.do?sys_id=7cb813890f26e60078f85c3be1050e43") format("woff"), 
         url("sys_attachment.do?sys_id=78b813890f26e60078f85c3be1050e40") format("truetype"), 
         url("sys_attachment.do?sys_id=e4b813890f26e60078f85c3be1050e3d#Insee Text") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Insee';
    src: url("sys_attachment.do?sys_id=bcd89f490f26e60078f85c3be1050e20");
    src: url("sys_attachment.do?sys_id=bcd89f490f26e60078f85c3be1050e20#iefix") format("embedded-opentype"), 
         url("sys_attachment.do?sys_id=49d893890f26e60078f85c3be1050ee2") format("woff2"), 
         url("sys_attachment.do?sys_id=c9d893890f26e60078f85c3be1050edf") format("woff"), 
         url("sys_attachment.do?sys_id=c9d893890f26e60078f85c3be1050edc") format("truetype"), 
         url("sys_attachment.do?sys_id=fcd893890f26e60078f85c3be1050ed9#Insee") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Insee Text';
    src: url("sys_attachment.do?sys_id=14f857490f26e60078f85c3be1050ed8");
    src: url("sys_attachment.do?sys_id=14f857490f26e60078f85c3be1050ed8#iefix") format("embedded-opentype"), 
         url("sys_attachment.do?sys_id=6cf8d3890f26e60078f85c3be1050eef") format("woff2"), 
         url("sys_attachment.do?sys_id=e4f8d3890f26e60078f85c3be1050eec") format("woff"), 
         url("sys_attachment.do?sys_id=28f857490f26e60078f85c3be1050ede") format("truetype"), 
         url("sys_attachment.do?sys_id=14f857490f26e60078f85c3be1050edb#Insee Text") format("svg");
    font-weight: 300;
    font-style: italic;
}

.inseebold {
  font-family: 'Insee', Arial;
  font-style: normal;
  font-weight: bold;
}

.inseelight {
  font-family: 'Insee', Arial;
  font-style: normal;
  font-weight: 100;
}

.inseeplain {
  font-family: 'Insee', Arial;
  font-style: normal;
  font-weight: 300;
}

.inseetext {
  font-family: 'Insee Text', Arial;
  font-style: normal;
  font-weight: normal;
}

.inseetextbold {
  font-family: 'Insee Text', Arial;
  font-style: normal;
  font-weight: bold;
}

.inseetextitalic {
  font-family: 'Insee Text', Arial;
  font-style: italic;
  font-weight: normal;
}

.inseetextmeditalic {
  font-family: 'Insee Text', Arial;
  font-style: italic;
  font-weight: 300;
}
