$gray:        #F0F0F1;
$text:        #808285;
$red:         #ed1c24;
$redblack:    #ca1f2b;
$yellow:      #fde200;
$title:       #231f20;
$textlight:   #48484a;
$bodybg:      #EEEEEE;
$blackbrown:  #555555;
$menutext:    #525353;
$texttitle:   #3e3e3e;
$menuhover:   #d5d5d5;
$knlabel:     #3a3a3a;
$kntitle:     #183660;
$view:        #828282;
$detailtitle: #3a3b3a;

$noissue:     #009900;
$outage:      #ff3300;
$degrade:     #ff9900;
